<div class=<%="memo#{memo.id}"%>>
<%= link_to edit_memo_path(memo), data:{turbo_frame: "memo-contents"} do %>
    <% if memo.content === nil %>
        <div>新規メモ</div>
        <div><%= memo.created_at %></div>
    <% else %>
        <div><%= memo.content %></div>
        <div><%= memo.created_at %></div>
    <% end %>
<% end %>
</div>
