<%= render partial: "memos/partial/header" %>

<div class="content">
    
    <div class="memo-nav">
        <%= turbo_frame_tag "memo-list" do %>
            <div class="memo-search">
                <label for="text2">検索</label>
                <div class="search_bar">
                    <i class="fas fa-search search_icon"></i>
                    <input id="text2" type="text" placeholder="キーワードを入力">
                    <i class="fas fa-times search_icon"></i>
                </div>
            </div>

            <div class="memo-new">
                <%= link_to "新規作成", memos_path, data: {turbo_method: :post}, class: "memo-new-button" %>
            </div>

            <div class="memo-list"><%= render @memos %></div>
        <% end %>
    </div>

    <div id="memo_contents" class="memo-contents">
        <%= render partial: "memos/partial/contents", locals: {memo: @memo} if !@memos.empty? %>
    </div>

</div>
